---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Opps! Not Found" description="The page you're looking for does not exists">
    <section class="">
		<h1 class="text-center mt-32 flex flex-col text-6xl">
			Well this is akward!
		</h1>
		<div class="max-w-2xl mx-auto mt-6">
			<p class="text-neutral-400 text-center text-xl">
				The page you're looking for dose not exists
			</p>
		</div>
	</section>
</Layout>