---
const year = new Date().getFullYear();
---

<footer class="">
    <div class="flex justify-center">
        <p class="text-center text-neutral-400  text-sm p-8">
            &copy; {year} Sahilow. All rights reserved
        </p>
    </div>
</footer>