---
import { ArrowRight } from "@lucide/astro";
import Link from "./Link.astro";
const year = new Date().getFullYear();
---

<footer class="">
    <div class="flex flex-col justify-center p-8">
        <p class="text-center text-neutral-400  text-sm">
            &copy; {year} Sahilow. All rights reserved
        </p>
        <div class="flex justify-center items-center">
            <Link href="/rss.xml" label="Subscribe to RSS feed" classes="text-neutral-400 hover:text-white py-1 text-sm">
                <ArrowRight slot={'icon'} size={14}/>
            </Link>
        </div>
    </div>
</footer>