---
import {navItems} from '../constants/'
import Link from "./Link.astro";


const currentPath = Astro.url.pathname;
---

<header class="max-w-6xl mx-auto flex justify-between items-center p-5">
    <a href="/" class="font-medium text-xl">
        Sahilow
    </a>
    <nav class="flex gap-4 md:gap-10 text-sm">
        {
            navItems.map(item => (
                <Link href={item.href} label={item.label} classes={currentPath === item.href ? 'hover:text-neutral-400' : 'text-neutral-400 hover:text-white'}/>
            ))
        }
    </nav>
</header>
