---
import Layout from "./Layout.astro";
import PostHeader from '../components/PostHeader.astro'
import { Image } from "astro:assets";

const {frontmatter} = Astro.props

const {title, description} = frontmatter;
---

<Layout title={title} description={description}>
    <section class="max-w-4xl mx-auto max-md:mt-18 mt-32 p-5">
        <PostHeader frontmatter={frontmatter}/>
        <div>
            <div class="content">
                <slot/>
            </div>
            <div class="sidebar">

            </div>
        </div>
    </section>
</Layout>

